# GCP Project Configuration (for deployment)
PROJECT_ID=your-project-id
REGION=europe-west1
REPOSITORY=repo-name
SERVICE_NAME=app-name

# --- Models ---
# Mandatory for MedSigLIP model download
HF_TOKEN=take-from-model-download-site
# --- Hardware (Optional Overrides) ---
MEMORY=8Gi
CPU=4